
<link rel="stylesheet" href="/static/style.css" type="text/css">

<title>Login</title>
<body>
<head>
<link rel="icon" SRC="/static/images/favicon.ico">
</head>
<form action="/login" method="POST">
<style>
    body {
        background-image: url('/static/images/bg.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<!----<div style="background-image: url('/home/linux/Documents/Python/Flask/static/images/backgroundjoojoo.png');"> -->         
<div class="login">
<div class="login-screen">
<div class="app-title">
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="nm">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="pw">
<div class="button"></div>
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Log in" class="button">
<!---</style><IMG STYLE="position:absolute; TOP:17px; LEFT:151px; " SRC="/home/linux/Documents/Python/Flask/static/images/kuva123.png" height="853" width="573"></p>-->
<!---<IMG STYLE="position:absolute; TOP:214px; LEFT:505px; " SRC="/home/linux/Documents/Python/Flask/static/images/kuva123.png" height="153" width="173"></p>-->

</div>
</div>
</div>
</body>
</form>